{{ attach_library('vivill/page') }}

    {{ form }}

<div class="row no-gutters">
    <div class="col-sm-12 col-md-4">
        {{ 'Filter'|trans }}
    </div>

    <div class="col-sm-12 col-md-8">
       
    </div>
</div>